<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hostels</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Center-1.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Center.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Sidebar-Menu.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Sidebar-Menu1.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css'%}">
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="opacity:0.6;">
        <div class="container"><a class="navbar-brand" href="#">Cvr College Of Engineering</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto"></ul>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> <a href="/sdash">Home </a></li>
                <li> <a href="/apply">Apply</a></li>
                <li> <a href="/complaints">Complaints</a></li>
                <li> <a href="/logout">logout</a></li>
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a></div>
        </div>
    </div>
    {% if notalloted %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5 offset-lg-2">
                    <h1 class="text-center">Availability</h1>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Hostel</th>
                                    <th>Room</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x,y in roomdata %}
                            <tr>
                                <td>{{x}}</td>
                                <td>{{y}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <h1 class="text-center">Apply</h1>
                    <div class="card">
                        <div class="card-body">
                            <form action="\application" method = 'POST'>
                                {% csrf_token %}
                                <div class="form-group"><label>Hostel NO</label><input class="form-control" type="number" name = 'hostelno'></div>
                                <div class="form-group"><label>Room No</label><input class="form-control" type="number" name = 'roomno'></div>
                                <button class="btn btn-success btn-block" type="submit" >Apply</button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
         <div>
             <p style="color:red;" align = 'center' ><b>ONLY ONE ROOM PER ACCOUNT WILL BE PROVIDED</b></p>
         </div>
    {% endif %}
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/Sidebar-Menu.js'%}"></script>
</body>

</html>